version: '3.8'

services:
  server:
    build: ./Server
    restart: unless-stopped

  client:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - server
    restart: unless-stopped
